allow system_app vibeamp_sysfs:file { getattr open read write };
allow system_app vibeamp_sysfs:dir search;
allow system_app tap2wake_dev:file rw_file_perms;
